@import "tailwindcss";

@import "./vars.css";
@import "./base.css";

@import "./controls/button.css";
@import "./controls/container.css";
@import "./controls/divider.css";
@import "./controls/input.css";
